.asc-desc{
    cursor: pointer;
}
#asc{
    color: #48A868 !important;
}
#asc:after{
    padding-left: 10px; 
    content: url('../../images/ico_sort_up.svg');
    display: inline-block;
}
#desc{
    color: #3C8BFF !important;
}
#desc:after{
    padding-left: 10px; 
    content: url('../../images/ico_sort_down.svg');
    display: inline-block;
}
#pageloader
{
    background: rgba( 255, 255, 255, 0.8);
    position: fixed;
    display: none;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
}

#pageloader i
{
    left: 45%;
    margin-left: -32px;
    margin-top: -32px;
    position: absolute;
    top: 40%;
}
.fa-spinner{
    z-index: 9999;
    position: fixed;
    -webkit-transform: translateZ(0);
}
.hidden{
    display: none
}
.required{
    margin-top: 2px; 
}
.required:after {
    display:inline;
    content:" *";
    color: red;
    vertical-align:sub;
}
.select2{
    width: 100%;
}
td.level_1{
    color: #3C8BFF!important; 
}
td.level_2{
    padding-left: 50px !important;
    color: #842fea !important; 
}
td.level_3{
    padding-left: 100px !important;
    color: #db3c34 !important; 
}
.view-role{
    /*font-size: 15px;*/
}
.add-new-btn{
    border-radius: 4px;
}
.logo-table{
    height: 35px;
    width: 35px;
    cursor: pointer;
    /*background: #80808054;*/
    background: #f2eeee;
}
.gallery-image{
    height: 100px;
    width: 100px;
    cursor: pointer;
    /*background: #80808054;*/
    background: #fff0;
}
.image_upload_preview,.user-image,.profile-user-img{
    /*background: #80808054;*/
    background: #f2eeee;
    cursor: pointer;
}

/*.item {
    position:relative;
    padding-top:10px;
    padding-bottom:10px;
    display:inline-block;
}*/
.product-item {
    position:relative;
    padding-top:10px;
    padding-bottom:10px;
    display:inline-block;
}
.notify-badge{
    position: absolute;
    left:90px;
    top:3px;
    background:red;
    text-align: center;
    border-radius: 20px 20px 20px 20px;
    color:white;
    padding:5px 10px;
    font-size:10px;
}
.mr-20{
    margin-right: 20px;
}
a{
    cursor: pointer;
}
.nav-sidebar > .nav-item > .nav-treeview{
    margin-left: 6%;    
}
.view-table td, .table th{
    /*padding: 9px;*/
}
.dataTables_empty{
    color: #dc3545 !important
}
.sorting-table>tbody>tr{
    cursor: pointer;
}
.th-td-boarder-none{
    border-top: none !important;
}

